IF EXISTS (SELECT name FROM master.dbo.sysdatabases WHERE name = N'vcm2')
	DROP DATABASE [vcm2]
GO

CREATE DATABASE [vcm2]  ON (NAME = N'vcm2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\data\vcm2.mdf' , SIZE = 1, FILEGROWTH = 10%) LOG ON (NAME = N'vcm2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL\data\vcm2_log.LDF' , FILEGROWTH = 10%)
 COLLATE SQL_Latin1_General_CP1_CI_AS
GO

exec sp_dboption N'vcm2', N'autoclose', N'true'
GO

exec sp_dboption N'vcm2', N'bulkcopy', N'false'
GO

exec sp_dboption N'vcm2', N'trunc. log', N'true'
GO

exec sp_dboption N'vcm2', N'torn page detection', N'true'
GO

exec sp_dboption N'vcm2', N'read only', N'false'
GO

exec sp_dboption N'vcm2', N'dbo use', N'false'
GO

exec sp_dboption N'vcm2', N'single', N'false'
GO

exec sp_dboption N'vcm2', N'autoshrink', N'true'
GO

exec sp_dboption N'vcm2', N'ANSI null default', N'false'
GO

exec sp_dboption N'vcm2', N'recursive triggers', N'false'
GO

exec sp_dboption N'vcm2', N'ANSI nulls', N'false'
GO

exec sp_dboption N'vcm2', N'concat null yields null', N'false'
GO

exec sp_dboption N'vcm2', N'cursor close on commit', N'false'
GO

exec sp_dboption N'vcm2', N'default to local cursor', N'false'
GO

exec sp_dboption N'vcm2', N'quoted identifier', N'false'
GO

exec sp_dboption N'vcm2', N'ANSI warnings', N'false'
GO

exec sp_dboption N'vcm2', N'auto create statistics', N'true'
GO

exec sp_dboption N'vcm2', N'auto update statistics', N'true'
GO

use [vcm2]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_rentals_copies]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[rentals] DROP CONSTRAINT FK_rentals_copies
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_rentals_customers]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[rentals] DROP CONSTRAINT FK_rentals_customers
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[FK_copies_movies]') and OBJECTPROPERTY(id, N'IsForeignKey') = 1)
ALTER TABLE [dbo].[copies] DROP CONSTRAINT FK_copies_movies
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[copies]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[copies]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[customers]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[customers]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[movies]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[movies]
GO

if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[rentals]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[rentals]
GO

CREATE TABLE [dbo].[copies] (
	[copy_id] [int] NOT NULL ,
	[movie_id] [int] NOT NULL ,
	[status] [varchar] (15) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[comment] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[customers] (
	[customer_id] [int] IDENTITY (1, 1) NOT NULL ,
	[name] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[phone] [varchar] (30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL ,
	[address] [varchar] (200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[movies] (
	[movie_id] [int] IDENTITY (1, 1) NOT NULL ,
	[title] [varchar] (100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[genre] [varchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL ,
	[summary] [varchar] (500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]
GO

CREATE TABLE [dbo].[rentals] (
	[rental_id] [int] IDENTITY (1, 1) NOT NULL ,
	[copy_id] [int] NOT NULL ,
	[customer_id] [int] NOT NULL ,
	[rental_date] [datetime] NOT NULL ,
	[expected_return] [datetime] NOT NULL ,
	[return_date] [datetime] NULL 
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[copies] WITH NOCHECK ADD 
	CONSTRAINT [PK_copies] PRIMARY KEY  CLUSTERED 
	(
		[copy_id]
	)  ON [PRIMARY] ,
	CONSTRAINT [chk_copy_status] CHECK ([status] = 'Unavailable' or ([status] = 'Rented' or [status] = 'Available'))
GO

ALTER TABLE [dbo].[customers] WITH NOCHECK ADD 
	CONSTRAINT [PK_customers] PRIMARY KEY  CLUSTERED 
	(
		[customer_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[movies] WITH NOCHECK ADD 
	CONSTRAINT [PK_movies] PRIMARY KEY  CLUSTERED 
	(
		[movie_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[rentals] WITH NOCHECK ADD 
	CONSTRAINT [PK_rentals] PRIMARY KEY  CLUSTERED 
	(
		[rental_id]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[copies] ADD 
	CONSTRAINT [FK_copies_movies] FOREIGN KEY 
	(
		[movie_id]
	) REFERENCES [dbo].[movies] (
		[movie_id]
	)
GO

ALTER TABLE [dbo].[rentals] ADD 
	CONSTRAINT [FK_rentals_copies] FOREIGN KEY 
	(
		[copy_id]
	) REFERENCES [dbo].[copies] (
		[copy_id]
	),
	CONSTRAINT [FK_rentals_customers] FOREIGN KEY 
	(
		[customer_id]
	) REFERENCES [dbo].[customers] (
		[customer_id]
	)
GO

